/* Asteriks wildcard selector to override default styles added by the brouser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header styling */
header {
background-color: lightcoral;
}
/* main content styling */
main {
    background-color: lightblue;
}
/* footer styling */
footer {
background-color: orange;
}
